<div class="footer">
    <div class="container-page">
        <div class="container-footer">
            <div class="imprint">
                <a href="{{ "/imprint" | relative_url }}">Imprint</a>
            </div>
            <div class="funding">
                <p class="fineprint">
                    The German Academic Exchange Service offers its financial support to allow student participants the bilateral exchange between Prague and Dresden.
                </p>
            </div>
            <div class="logos">
                <span class="logo"><img src="{{ "assets/img/logo_cvut_en_doplnkova_verze.svg"  | relative_url }}" id="logo-ctu"/></span>
                <span class="logo"><img src="{{ "assets/img/HTWD_logo_RGB_vertical_color.png"  | relative_url }}" id="logo-htw"/></span>
            </div>
        </div>
    </div>
</div>